@import 'variables'
@import 'mixins'
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css")

html, body
  height: 100%
    
body
  @include set-background("light")

body.dark
  @include set-background("dark")
  
#app 
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  height: 100%
  display: flex
  flex-direction: column
    
nav 
  padding: 30px
  color: $color-text-secondary

nav a 
  font-weight: bold
  color: $color-text-secondary
  text-decoration: none

nav a.router-link-exact-active 
  color: $color-element-active

.top-container
  background-color: $color-app-main

.footer-container
  background-color: $color-app-main

.views-container
  max-width: $views-width
  width: 100%
  margin: 0 auto

.tech
  max-width: 400px
  margin: 0 auto
  font-size: 20px
  font-weight: bold

footer
  color: $color-text-secondary
  font-size: 10px
