$background-color-dark: mix(black, blue, 90)
$background-color-light: mix(white, cyan, 90)

$main-text-color: #27588a

// @for $i from 20 through 100 
//     @if $i % 10 == 0 
//         $percentage: $i*1%
//         .mix-black-#{$i} 
//             background-color: mix(black, cyan, $percentage)
    
